/* Accordion menu for Services Page */
.accordion {
  border-radius: 10px;
  background-color: var(--light-background);
  width: 100%;
  color: var(--dark-text);
  cursor: pointer;
  text-align: left;
  border: 10px;
  outline: 10px;
}

.accordion:hover {
  background-color: var(--lightgreenhilight);
}

.panel {
  border-radius: 10px;
  padding: 0 10px;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* "plus" sign (+) */
  font-size: 13px;
  color: var(--lighttext);
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796"; /* "minus" sign (-) */
}
